<!-- templates/home.html --> 
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron"> 
	<h1 class="display-4">Data Catalog App</h1> 
	<p class="lead"> 
		<a class="btn btn-primary btn-lg" href="{% url 'catalog_list' %}" role="button">View All DataSets</a> 
	</p> 
</div> 
{% if user.is_authenticated %} 
 	Hi {{ user.username }}! 
 	<p><a href="{% url 'logout' %}">logout</a></p>
{% else %} 
 	<p>You are not logged in</p> 
 	<a href="{% url 'login' %}">login</a> | 
 	<a href="{% url 'signup' %}">signup</a>
{% endif %} 
{% endblock %}